@use "../../common/media";

.sustainability-page {
  .commitment {
    position: relative;
    left: -30%;
  }
  .pillars {
    padding: 100px 0 300px 0;
  }
  .card-container {
    margin-top: 80px;
  }
  .highlight {
    position: relative;
    .bottom-right-bg {
      width: 100vw;
      max-width: 100vw;
    }
  }
  @include media.respond-to(md) {
    .commitment {
      position: static;
    }
  }
}
