@use "../common/colors";
@use "../common/media";

@mixin background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

main {
  // common classes
  // sections
  .banner-text {
    position: relative;
    top: 40%;
    .inner-text-container {
      width: 400px;
      padding: 25px 0 25px 25px;
      h2 {
        font-size: 36px;
        line-height: 100%;
        letter-spacing: 0%;
      }
    }
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100px;
      border-left: 4px solid #fff;
      border-top: 4px solid #fff;
      border-bottom: 4px solid #fff;
    }
    @include media.respond-to(sm) {
      .inner-text-container {
        width: 90%;
      }
    }
  }

  .founder-speech {
    @media screen and (max-width: "992px") {
      flex-basis: 80%;
      width: 80%;
      margin-left: auto;
      max-width: 600px;
      align-self: flex-end;
    }
  }
  .founder-img {
    position: relative;
  }
  .founder-section {
    h2 {
      color: #47867a;
      font-style: italic;
      line-height: 1;
      // font-family: 'Helvetica Neue';
    }
    p {
      // font-family: 'Myriad Pro';
    }
    h3 {
      margin: 0;
      font-size: 20px;
      font-weight: 700;
    }
    .speech-quote {
      position: absolute;
      left: -95px;
      top: -20px;
    }
  }

  .future {
    background-color: colors.$material-green;
    .white-box {
      background-color: #fff;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      // margin: 20px;
       transition: all 0.3s ease;
     
    }
  }

  .about-us-section {
    position: relative;
    .about-us-section-container {
      padding: 15vh 0;
    }
    .about-img-1 {
      max-width: 400px;
    }
    .about-img-2 {
      max-width: 300px;
      position: absolute;
      left: 0;
      bottom: -70px;
    }
    @include media.respond-to(lg) {
      padding-bottom: 100px;
      .about-img-2 {
        left: auto;
        right: 200px;
      }
      .bottom-left-bg {
        max-width: 200px;
      }
    }
    @include media.respond-to(md) {
      .about-us-section-container {
        padding: 100px 10px 250px 10px;
      }
      padding: 0 10px;
      .about-img-2 {
        right: 0;
        left: 0;
      }
      .about-img-1 {
        width: 100%;
      }
    }
  }

  .industry-section {
    h2 {
      font-size: 55px;
    }
    h3 {
      font-size: 35px;
    }

    h2,
    h3 {
      color: white;
    }
    .steel {
      min-height: 500px;
      background-image: url("/HomePage/steel.webp");
      @include background;
      .steel-inner {
        margin-top: 100px;
      }
      margin-bottom: 2px;
    }
    .casting {
      min-height: 350px;
      background-image: url("/HomePage/casting.webp");
      @include background;
      // margin-right: 2px;
      flex-basis: 49.8%;
    }
    .power {
      flex-basis: 50%;
      min-height: 350px;
      background-image: url("/HomePage/power.webp");
      @include background;
    }
  }

  .news-container {
    .top-right-bg {
      max-width: 250px;
    }

    @media screen and (max-width: "992px") {
      .top-right-bg {
        max-width: 150px;
      }
    }
  }

  .sustainability {
    padding: 100px 0 60px 0;
    .sustainability-floater {
      border-radius: 20px;
      padding: 18px;
      position: relative;
      top: -50px;
      left: 5%;
      max-width: 700px;
    }
    .bottom-right-bg {
      width: 250px;
    }
    @media screen and (max-width: "992px") {
      padding-bottom: 100px;
      .bottom-right-bg {
        width: 150px;
      }
      .sustainability-floater {
        position: static;
        top: 0;
        margin-top: 10px;
      }
    }
  }

  .work-culture {
    position: relative;
    padding: 20px 0 100px 0;
    .work-culture-text {
      padding: 80px 30px;
      border-radius: 20px;
    }
    .work-culture-img {
      position: relative;
      top: 80px;
      right: 50px;
      align-self: flex-end;
    }
    .top-left-bg {
      width: 350px;
    }
    @media screen and (max-width: "992px") {
      .top-left-bg {
        max-width: 200px;
      }
    }
  }
  .clients {
    padding: 0px 0 150px 0;
  }
  .career {
    // padding: 100px 0 450px 0;
    padding: 80px 0;
    min-height: 750px;
    overflow: hidden;
    .career-container {
      position: relative;
      .career-text {
        position: relative;
        z-index: 1;
        width: 50%;
      }
      .career-img-1 {
        width: 100%;
        max-width: 600px;
        position: absolute;
        z-index: 0;
        top: 0;
        right: 0;
      }
    }

    @media screen and (max-width: "992px") {
      min-height: 800px;
      .career-container {
        min-height: 700px;
        // height: 100%;
        .career-text {
          width: 90%;
        }
        .career-img-1 {
          top: auto;
          bottom: 0;
          right: 0;
        }
      }
    }
  }
}
