.steel-page {
    .what-we-offer {
        .bottom-right-bg {
            max-width: 300px;
        }
    }
    .infra-internal {
        border-radius: 25px;
    }
    .top-right-bg {
        max-width: 200px;
    }
    .ecosystem {
        padding: 50px 0 100px 0;
    }

}