@mixin linkStyle() {
  color: #fff;
  text-decoration: none;
  &:hover,
  &:focus {
    color: #fff;
  }
}

.extra-padding {
  padding-bottom: 50px;
}
.nav-container {
  padding: 10px 0;
}
.header {
  a,
  span {
    font-family: "Helvetica Neue";
    font-weight: 300;
  }
  .navbar-expand .navbar-nav .dropdown-menu {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .search-icon {
    fill: #000;
  }
  .right-nav-container {
    // padding-bottom: 10px;
  }
}
.navbar .dropdown-toggle::after {
  display: none;
}
.header nav:not(.bg-white) {
  a,
  .nav-link.show {
    @include linkStyle();
  }
  .dropdown-menu {
    a {
      color: #000;
    }
  }
  .transparent-select {
    appearance: none; // Hide default arrow
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    color: white;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-chevron-down' viewBox='0 0 16 16'>  <path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708'/></svg>");
    background-repeat: no-repeat;
    background-position: right 0.5rem center;
    background-size: 1rem;
  }
}
footer {
  background: #293F5205;

  a.nav-link,
  span {
    font-family: "Helvetica Neue";
    font-weight: 300;
  }
  padding-top: 80px;
  .footer-logo {
    max-width: 200px;
  }
  a.nav-link {
    color: #000;
    text-decoration: none;
    padding: 0;
    margin: 5px 0;
    &:hover,
    &:focus {
      color: #000;
    }
  }
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    li {
      padding: 0 7px 0 7px;
      border-right: #000 1px solid;
      &:last-child {
        border: none;
      }
    }
  }
  .bold-link {
    font-weight: 500;
  }
  .footer-links-container {
    margin: 20px 0 50px 0;
  }
}
