@use "../media";

.news-section {
  .news-items-container {
    @media (min-width: 992px) {
      gap: 20px;
      .flex-40 {
        flex-basis: 48%;
      }
      .flex-24 {
        flex-basis: 24%;
      }
    }
     @media (max-width: 991px) {
      gap: 1%;
     }
  }
  .news-item {
    border-radius: 22px;
    img {
      height: 120px;
      border-radius: 10px;
      object-fit: cover;
      object-position: bottom;
    }
  }
  .clamp-text {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Number of lines to show */
    line-clamp: 2; /* Standard property for compatibility */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .clamp-text-2 {
    display: -webkit-box;
    -webkit-line-clamp: 5; /* Number of lines to show */
    line-clamp: 5; /* Standard property for compatibility */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
